<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Post List</title>
</head>

<body>
    <div>
        <h1><a href="/">Blog post</a></h1>
    </div>

    <div>
        <h3>Post title</h3>
        <h5>Author's name | <a href="">Publishing date: 14/06/2020</a></h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex omnis dolor consectetur, error dolorum, numquam
            at pariatur excepturi esse magni aspernatur! Quaerat, similique ratione atque ullam numquam temporibus rem!
            Quo.</p>
    </div>
</body>

</html>