.page-header{
    padding: 5px 0px 20px 40px;
    background-color: #3F3D56;
    color: #FFFFFF;
    margin-top: 0px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content{
    margin-left: 40px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 14pt;
    margin: 30px;
}

.post{
    margin-bottom: 70px;
}

h1 a, h2{
    color: #3F3D56;
    font-family: 'Lobster';
}
h5 a, h5 a:visited{
    color: #3F3D56;
}
